.search_bar{
    width: 1110px;
    height: 62px;
    
    >input{
        width: 100%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        height: 100%;
        border-radius: 8px;
        border: none;
        outline: none;
        margin-top: 13px;
        margin-left: 27px;
    }

}